<section class="team-circles">
  <div class="container">
    <p class="centered-subheading">Event Categories</p>

    <div class="d-flex justify-content-end mt-3">
      <a routerLink="add-event-category" class="btn btn-primary">Add Category</a>     
    </div>

    <ng-container *ngIf="categories$ | async as categories">   

      <div class="table">
        <div class="row header blue">
          <div class="cell">
            ID
          </div>
          <div class="cell">
            Name
          </div>
          <div class="cell">
           
          </div>
        </div>

        <div class="row" *ngFor="let category of categories">
          <div class="cell">
            {{category.id}}
          </div>
          <div class="cell">
            {{category.name}}
          </div>
          <div class="cell">
            <a [routerLink]="['edit-event-category', category.id]" class="btn btn-light">Edit</a>
          </div>
        </div>
      </div>
    </ng-container>


  </div>
</section>
