:root {
  --black: black;
  --white: white;
}

.team-circles {
  border-bottom: 1px solid #e4ebf3;
  padding: 20px 30px 80px;
  position: relative;
}

.container {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.centered-heading {
  color: #fff;
  text-align: center;
  margin-bottom: 16px;
  font-size: 44px;
}

.centered-subheading {
  color: #fff;
  text-align: center;
  max-width: 530px;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 32px;
}

.team-grid {
  grid-column-gap: 10px;
  grid-row-gap: 1px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 20px;
  display: grid;
}

.team-card {
  text-align: center;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  display: flex;
}

.team-member-image {
  object-fit: cover;
  border-radius: 50%;
  width: 270px;
  height: 270px;
  margin-bottom: 10px;
}

.team-member-name {
  color: #fff;
  margin-bottom: 6px;
  font-size: 20px;
  font-weight: 500;
  line-height: 32px;
}

.team-member-position {
  margin-bottom: 24px;
}

.hero-stack {
  background-color: #f5f7fa;
  border-bottom: 1px solid #e4ebf3;
  padding: 80px 30px;
  position: relative;
}

.hero-wrapper-two {
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.margin-bottom-24px {
  color: #fff;
  text-align: center;
  margin-bottom: 24px;
  margin-left: 100px;
  margin-right: 100px;
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #331ed8;
  margin-top: 10px;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

  .button-primary:hover {
    color: #fff;
    background-color: #32343a;
  }

  .button-primary:active {
    background-color: #43464d;
  }

.hero-image {
  width: 100%;
  margin-top: 50px;
}

.heading {
  color: #fff;
  text-align: center;
  font-size: 32px;
}

.div-block-2 {
  text-align: center;
}

.body {
  background-color: var(--black);
}

.form {
  text-align: center;
}

.div-block-3 {
  margin-left: 220px;
  margin-right: 220px;
  padding-left: 110px;
  padding-right: 110px;
}

.container-2 {
  margin-left: 0;
}

.navbar-logo-left {
  background-color: #da580e;
}

.navbar-logo-left-container {
  z-index: 5;
  background-color: #0000;
  width: 1030px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

  .navbar-logo-left-container.shadow-three {
    width: 100%;
    max-width: 1140px;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
  }

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  color: #fff;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  padding-right: 0;
  display: flex;
}

.nav-link {
  color: #fff;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

  .nav-link:hover {
    color: #1a1b1fbf;
  }

  .nav-link:focus-visible {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 4px;
    outline: 2px solid #0050bd;
  }

  .nav-link[data-wf-focus-visible] {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 4px;
    outline: 2px solid #0050bd;
  }

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

  .nav-dropdown-toggle:hover {
    color: #1a1b1fbf;
  }

  .nav-dropdown-toggle:focus-visible {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 5px;
    outline: 2px solid #0050bd;
  }

  .nav-dropdown-toggle[data-wf-focus-visible] {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 5px;
    outline: 2px solid #0050bd;
  }

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

  .nav-dropdown-list.w--open {
    padding-top: 10px;
    padding-bottom: 10px;
  }

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

  .nav-dropdown-link:focus-visible {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 5px;
    outline: 2px solid #0050bd;
  }

  .nav-dropdown-link[data-wf-focus-visible] {
    outline-offset: 0px;
    color: #0050bd;
    border-radius: 5px;
    outline: 2px solid #0050bd;
  }

.nav-divider {
  background-color: #e4ebf3;
  width: 1px;
  height: 22px;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

  .nav-link-accent:hover {
    color: #1a1b1fbf;
  }

.button-primary-2 {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  margin-left: 20px;
  padding: 12px 25px 12px 20px;
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  transition: all .2s;
}

  .button-primary-2:hover {
    color: #fff;
    background-color: #32343a;
  }

  .button-primary-2:active {
    background-color: #43464d;
  }

.text-block {
  font-size: 30px;
  font-weight: 700;
}

.utility-page-wrap {
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  max-height: 100%;
  display: flex;
}

.utility-page-content {
  text-align: center;
  flex-direction: column;
  width: 260px;
  display: flex;
}

.utility-page-form {
  flex-direction: column;
  align-items: stretch;
  display: flex;
}

.body-2 {
  background-color: #000;
}

.heading-2 {
  color: #fff;
  text-align: center;
}

.field-label {
  color: #fff;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 28px;
}

.text-field, .button {
  border-radius: 7px;
}

.textarea {
  border-radius: 7px;
  min-height: 125px;
}



/*------------------------------------------after 1440px;----------------------------------------*/
/*@media screen and (min-width: 1440px) {
  .team-circles {
    color: #fff;
    background-color: #000;
    padding-top: 10px;
  }

  .centered-heading {
    font-size: 48px;
  }

  .centered-subheading {
    margin-top: 60px;
    font-size: 32px;
  }

  .team-member-image {
    width: 270px;
    height: 270px;
    max-height: none;
  }

  .margin-bottom-24px {
    font-size: 18px;
  }

  .button-primary {
    margin-top: 10px;
  }

  .heading {
    font-size: 38px;
  }

  .div-block-2 {
    font-size: 48px;
  }

  .form {
    margin-left: 0;
    padding-left: 0;
  }

  .form-block {
    margin-left: 0;
  }

  .div-block-3 {
    text-align: center;
    width: auto;
    margin-left: 220px;
    margin-right: 220px;
    padding-left: 200px;
    padding-right: 220px;
  }

  .navbar-logo-left {
    color: #0f0f0e;
    background-color: #da580e;
  }

  .nav-link {
    color: #eceef8;
    font-size: 18px;
    font-weight: 700;
  }

  .button-primary-2 {
    font-weight: 700;
  }

  .text-block {
    font-size: 38px;
    font-weight: 700;
  }

  .body-2 {
    background-color: #000;
  }

  .heading-2 {
    color: #fff;
    text-align: center;
  }

  .field-label {
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 32px;
  }

  .text-field {
    border-radius: 7px;
  }

  .textarea {
    border-radius: 7px;
    min-height: 125px;
  }
}




@media screen and (min-width: 1920px) {
  .heading {
    font-size: 48px;
  }

  .field-label {
    font-size: 42px;
  }

  .text-field {
    border-radius: 7px;
  }

  .button {
    vertical-align: baseline;
    width: 100px;
    height: 50px;
    font-size: 26px;
  }

  .textarea {
    border-radius: 7px;
    margin-bottom: 20px;
  }
}*/



@media screen and (max-width: 10000px) {
  .team-circles {
    background-color: #000;
    padding-top: 10px;
  }

  .container {
    max-width: 728px;
  }

  .centered-heading {
    color: #fff;
    font-size: 38px;
  }

  .centered-subheading {
    color: #fff;
    margin-top: 40px;
    margin-bottom: 0;
    font-size: 24px;
  }

  .team-grid {
    grid-column-gap: 10px;
    grid-row-gap: 1px;
    text-align: left;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }

  .team-member-image {
    width: 190px;
    height: 190px;
    margin-bottom: 0;
  }

  .team-member-name {
    color: #fff;
  }

  .margin-bottom-24px {
    color: #fff;
    margin-left: 60px;
    margin-right: 60px;
  }

  .button-primary {
    color: #f5f4f7;
    background-color: #112faa;
    margin-top: 10px;
  }

  .heading {
    color: #fff;
    font-size: 24px;
  }

  .div-block-2, .form, .form-block {
    text-align: center;
  }

  .div-block-3 {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 40px;
    padding-right: 40px;
  }

  .container-3 {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: #0000;
  }

  .nav-menu-two {
    background-color: #da580e;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px #0000000d;
  }

  .nav-link {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown, .nav-dropdown-toggle {
    color: #da580e;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    background-color: #da580e;
  }

  .menu-button {
    padding: 12px;
  }

    .menu-button.w--open {
      color: #fff;
      background-color: #a6b1bf;
    }

  .icon {
    color: #fff;
  }

  .body-2 {
    background-color: #000;
  }

  .heading-2 {
    font-size: 32px;
  }

  .field-label {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .button {
    border-radius: 7px;
  }

  .textarea {
    min-height: 125px;
  }
}




@media screen and (max-width: 767px) {
  .team-circles {
    background-color: #000;
    padding: 0 15px 60px;
  }

  .centered-heading {
    color: #f3e9e9;
    margin-top: 0;
  }

  .centered-subheading {
    color: #fff;
    font-size: 20px;
  }

  .team-grid {
    grid-column-gap: 10px;
    grid-row-gap: 1px;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }

  .team-member-name {
    color: #f6f3f3;
  }

  .hero-stack {
    padding: 60px 15px;
  }

  .margin-bottom-24px {
    color: #f5eeee;
    margin-left: 40px;
    margin-right: 40px;
  }

  .button-primary {
    text-align: left;
    background-color: #331ed8;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
    position: static;
  }

  .heading {
    color: #f8f6f6;
    text-align: center;
  }

  .div-block {
    text-align: center;
  }

  .list-item {
    width: auto;
    list-style-type: none;
  }

  .list-item-2, .list-item-3 {
    list-style-type: none;
  }

  .list {
    float: none;
    text-align: left;
    background-color: #d8cccc;
    width: 300px;
    margin-left: 100px;
    padding: 10px;
  }

  .div-block-2 {
    text-align: center;
  }

  .div-block-3 {
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px #0000000d;
  }

    .nav-dropdown-list.shadow-three.w--open {
      position: relative;
    }

    .nav-dropdown-list.shadow-three.mobile-shadow-hide {
      box-shadow: none;
    }

  .nav-divider {
    width: 200px;
    max-width: 100%;
    height: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }

  .heading-2 {
    font-size: 26px;
  }

  .field-label {
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .button {
    border-radius: 7px;
  }

  .grid {
    grid-row-gap: 14px;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .textarea {
    min-height: 125px;
  }
}




@media screen and (max-width: 479px) {
  .team-circles {
    padding-top: 20px;
  }

  .container {
    flex-flow: row;
    justify-content: center;
    align-items: flex-start;
    max-width: none;
    margin-left: 0;
    margin-right: 0;
    display: block;
  }

  .centered-heading {
    margin-bottom: 24px;
    font-size: 24px;
  }

  .centered-subheading {
    margin-top: 0;
  }

  .team-grid {
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
  }

  .team-card {
    flex-flow: column;
    align-items: center;
  }

  .team-member-image {
    width: 125px;
    height: 125px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .team-member-name {
    margin-bottom: 10px;
  }

  .margin-bottom-24px {
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
  }

  .heading {
    margin-top: 0;
  }

  .div-block-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .navbar-logo-left-container.shadow-three {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .container-3 {
    max-width: none;
  }

  .navbar-wrapper {
    text-align: left;
  }

  .nav-menu-two {
    flex-direction: column;
  }

  .text-block {
    text-align: left;
    font-size: 22px;
  }

  .heading-2 {
    font-size: 18px;
  }

  .field-label {
    color: #fff;
    font-size: 22px;
  }

  .text-field, .button {
    border-radius: 7px;
  }

  .textarea {
    min-height: 125px;
  }
}



#w-node-caf68dca-6f53-b3e5-d894-bdd96471d876-6a3b3018, #w-node-caf68dca-6f53-b3e5-d894-bdd96471d881-6a3b3018, #w-node-_96c75a29-50aa-0c39-d74f-1bc09883f85e-02920845, #w-node-_96c75a29-50aa-0c39-d74f-1bc09883f862-02920845 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1440px) {
  #w-node-caf68dca-6f53-b3e5-d894-bdd96471d881-6a3b3018, #w-node-_96c75a29-50aa-0c39-d74f-1bc09883f862-02920845 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_96c75a29-50aa-0c39-d74f-1bc09883f866-02920845 {
    grid-area: span 1 / span 2 / span 1 / span 2;
  }
}

@media screen and (max-width: 479px) {
  #w-node-caf68dca-6f53-b3e5-d894-bdd96471d876-6a3b3018, #w-node-_96c75a29-50aa-0c39-d74f-1bc09883f85e-02920845 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }
}
