<section class="team-circles">
  <div class="container">

    <p class="centered-subheading">Choose A Dog</p>
    <div class="team-grid">
      <div id="w-node-_96c75a29-50aa-0c39-d74f-1bc09883f85e-02920845" class="team-card">
        <img src="assets/images/milo.jpg" loading="lazy" sizes="(max-width: 479px) 125px, (max-width: 991px) 190px, 270px" srcset="assets/images/milo-p-500.jpg 500w, assets/images/milo-p-800.jpg 800w, assets/images/milo-p-1080.jpg 1080w, assets/images/milo-p-1600.jpg 1600w, assets/images/milo-p-2000.jpg 2000w, assets/images/milo.jpg 2268w" alt="" class="team-member-image" (click)="setDog('Milo', 'dog1')" [ngClass]="{'highlight': highlightedImage === 'dog1'}">
        <div class="team-member-name">Milo</div>
      </div>
      <div id="w-node-_96c75a29-50aa-0c39-d74f-1bc09883f862-02920845" class="team-card">
        <img src="assets/images/otis.jpg" loading="lazy" sizes="(max-width: 479px) 125px, (max-width: 991px) 190px, 270px" srcset="assets/images/otis-p-500.jpg 500w, assets/images/otis-p-800.jpg 800w, assets/images/otis-p-1080.jpg 1080w, assets/images/otis.jpg 1406w" alt="" class="team-member-image" (click)="setDog('Otis', 'dog2')" [ngClass]="{'highlight': highlightedImage === 'dog2'}">
        <div class="team-member-name">Otis</div>
      </div>
    </div>

    <h1 id="w-node-_96c75a29-50aa-0c39-d74f-1bc09883f866-02920845" class="heading">Record Event</h1>
    <p class="margin-bottom-24px">Record dog events below.
    Highlight each category to record your event.
    Date and time will be saved.</p>


    <div class="div-block-3">
      <div class="form-block w-form">

        <form #form="ngForm" (ngSubmit)="onFormSubmit()" class="form">
          
            <label for="title" class="field-label">Dog Name</label>          

            <input type="text" id="title" name="title" class="text-field w-input" [(ngModel)]="model.dogName">
       

          <!-- <div class="mt-3">
        <label for="publishedDate" class="form-label">Published Date</label>
        <input type="datetime-local" id="publishedDate" name="publishedDate" class="form-control" value="{{model.publishedDate}}"
               [ngModel]="model.publishedDate | date: 'yyyy-MM-ddTHH:mm'" (ngModelChange)="model.publishedDate = $event">
      </div> -->       

            <label for="categories" class="field-label">Categories</label>

            <ng-container *ngIf="eventCategories$ | async as eventCategories">

              <select class="textarea w-input" [(ngModel)]="model.eventCategories" name="categories" id="categories" multiple>
                <option *ngFor="let category of eventCategories" [value]="category.id">{{category.name}}</option>
              </select>

            </ng-container>  

         
            <button type="submit" class="button w-button">Save</button>
         

        </form>
        </div>



      </div>





    </div>
</section>
